@import '../../styles/main.scss';

.content-container {
    min-height: 780px;
    margin: {
        left: 25%;
        right: 25%;
    }

    h1 {
        text-align: center;
        letter-spacing: 2px;
        user-select: none;
    }
}

.header {
    background-color: $color-third;
    color: $color-fourth;
    font-size: 1.5em;
    text-align: center;
    user-select: none;
}

.result-field {
    display: flex;
    text-align: center;
}

.result-item {
    font-size: 1.4em;
    flex: 100%;
    color: $color-fourth;
    padding: {
        top: 5px;
        bottom: 5px;
    }
}

.result-item-calculations {
    flex: 100%;
    background-color: $color-fourth;
    font-size: 1.4em;
    color: $color-text-default;
    padding: {
        top: 15px;
        bottom: 15px;
    }
}

.button-container {
    text-align: center;
    margin: {
        left: 30%;
        right: 30%;
        top: 5%;
        bottom: 5%;
    }
}

.result-item-total {
    flex: 100%;
    background-color: $color-fourth;
    font-size: 1.8em;
    font-weight: bold;
    color: $color-text-default;
    padding: {
        top: 15px;
        bottom: 15px;
    }
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

@media (max-width: 1000px) {
    .content-container {
        margin: {
            left: 10%;
            right: 10%;
        }
    }

    .button-container {
        margin: {
            left: 10%;
            right: 10%;
        }
    }
}

@media (max-width: 700px) {
    .content-container {
        margin: {
            left: 0;
            right: 0;
        }
    }

    .button-container {
        margin: {
            left: 0;
            right: 0;
        }
    }
}

.approved-icon {
    color: green;
}

.disapproved-icon {
    color: red;
}

.total-result-icon {
    text-align: center;
}

.approval-text {
    font-size: 2em;
    margin: {
        top: 3%;
        bottom: 3%;
    }
}

.lucky-text {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.buffs-hint {
    text-align: center;
    font-size: 1.2em;
    margin: {
        top: 5px;
        bottom: 5px;
    }
}

.accordion-container {
    display: flex;
    border-radius: 5px;
    font-size: 1.4em;
}

.accordion-box {
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    border: 2px solid $color-text-default;
    background-color: $color-third;
    color: $color-fourth;
    transition: background-color 0.2s;
    cursor: pointer;
    user-select: none;
}

.accordion-box:hover {
    background-color: $color-third-hover;
}

.accordion-desc {
    flex: 95%;
    text-align: center;
}

.accordion-icon {
    @include vertical-align;
    flex: 5%;
    text-align: right;
}