// Color palette
$color-first: #BBC8CA;
$color-second: #ACFCD9;
$color-third: #231F20;
$color-fourth: #DDDDDD;
$color-fifth: #FC6471;
$color-text-default: #323232;

///////////////////////

$animation-cubic: cubic-bezier(0.240, 0.465, 0.450, 0.950) both;