@import '../../styles/main.scss';

.header-container {
    @include header-text;
    @include vertical-align;
    height: 20vh;
    color: $color-fourth;
    font-size: 3rem;
    background-color: $color-fifth;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
}

.header-item {
    flex: 100%;
}

.button-container {
    margin-right: 40%;
    margin-left: 40%;
    flex: 100%;
}